<div>
  <!-- category lookup filter. -->
  <dvt-mu-category-lookup (selectedCategory)="addFilter($event)"></dvt-mu-category-lookup>

  <!-- Show current filters applied -->
  <ng-container *ngFor="let filter of selectedFilters">
    <div class="dvtmu-chip">{{filter.name}}</div>
  </ng-container>
</div>

<div>
  <!-- Add group cards -->
  <ng-container *ngFor="let group of groups$ | async">
    <div class="dvtmu-card-container__groups">
      <dvt-mu-group-card [cardItem]="group"></dvt-mu-group-card>
    </div>
  </ng-container>
</div>
