.dvtmu-chip{
    background-color: #397EAE;
    color:#fff;
    display: inline;
    margin: 5px;
    padding: 5px;
}

.dvtmu-card-container__groups{
    display: inline-block;
	margin: 15px;
    max-width: 250px;
    vertical-align: top;
}